<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Baloo+Bhai+2:wght@600&family=Baloo+Bhaijaan+2:wght@600&family=Baloo+Thambi+2:wght@500&family=Indie+Flower&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="css/login-style.css">
    <link href="css/program.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">

    <style>
        .login-box {
            margin: 0;
        }
        .forget-pin {
            margin-left: 0;
        }
        .login-box .forget-pin a,
        .login-box .notAcc {
            margin-top: 0;
            padding-left: 0;
            text-decoration: none;
            color: white;
        }
    </style>
</head>

<body id="login">
    <header class="Login-header">
        <div class="img">
            <img src="../images/unity-tab.png" alt="LOGO">
        </div>
    </header>
    <% if(errorThere){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
                <%= errorOnLogin %>
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
            <!-- <div class="Login-main">
                <div class="Login-form">
                    <h4>Sign in to your account!</h4>
                    <form action="/login" method="post" onsubmit="(e)=>{
                        e.preventDefault();

                }">
                        <div class="Login-aadhar">
                            <input type="text" pattern="^[2-9]{1}[0-9]{3}[0-9]{4}[0-9]{4}$" name="aadhar" id="aadhar"
                                placeholder="Aadhar/Mobile Number">
                        </div>
                        <div class="Login-pin">
                            <label for="username">--or--</label>
                            <input type="text" name="username" id="username" placeholder="Username">
                            <input type="password" name="pin" id="pin" placeholder="Enter your 6 digit pin">
                            <i class="bi bi-eye" id="togglePassword"></i>
                        </div>
                        <div class="forget-pin">
                            <a href="#">Forgot your pin?</a>
                        </div>
                        <div class="Login-submit-btn">
                            <input type="submit" value="submit">
                        </div>
                    </form>
                </div>
                <p>Do not have an account? &nbsp;&nbsp;<a href="/signup">Register!</a></p>
            </div> -->
            <div class="login-box">
                <h2>Login</h2>
                <form action="login" method="post">
                    <div class="user-box">
                        <input type="text" name="username" onfocus="fun(this, 'Enter username')" onfocusout="focusOutFun(this)" value="">
                        <label>Aadhar No./ Mobile No./ Username</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="pin" onfocus="fun(this, 'Enter Password')" onfocusout="focusOutFun(this)">
                        <label>Password</label>
                    </div>
                    <div class="forget-pin">
                        <a href="#">Forgot your pin?</a>
                    </div>
                    <br>
                        <!-- <button type="submit"> -->
                            <a href="" style="margin: 0;">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <input type="submit" value="Login" style="background: transparent; color: #03e9f4;border: none;">
                            <!-- Login -->
                        </a>
                </form>
                <p>Do not have an account? &nbsp;&nbsp;<a class="notAcc" href="/signup"> Register! </a></p>
            </div>
            <script src="/js/js.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                crossorigin="anonymous"></script>
</body>

</html>