hr {
    color: white;
}
.navbar{
  background-color: black;
}
.offcanvas{
    margin-top: 55px;
    margin-left: 0;
    background-color: #243b55;
    width: 25% !important;
  }
    img{
      height: 40px;
      width: fit-content;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 1%;
    }
    .nav-link{
      border-radius: 30px;
      margin-top: 7%;
      padding-top: 2%;
    }
    a{
      margin-top: 4%;
      text-decoration: none;
      color: black;
    }
    .container{
      margin-top: 100px;
      /* color: white; */
    }
    #contents{
      margin-left: 0%;
    }
    ul{
  width: 100%;
  padding: 0;
 list-style: none; 
 position: relative;
 display: inline-block;
 margin: 0;
}
#contents{
    margin: 5%;
    margin-bottom: 0;
}
#contents li{
 background-color: rgb(36, 59, 85);
 position: relative;
 margin: 1%;
 margin-left: 0;
 padding: 2%;
 border-radius: 10px;
 float: left;
}
#contents li:hover{
    background-color:rgb(0, 0, 0);
}
#contents a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: larger;
}
@media(max-width: 600px){
    #contents{
    margin: 5%;
    margin-top: 15%;
}
#contents li{
  
  position: relative;

  margin: 1%;
  margin-left: 0;
  padding: 2%;
  /* width: 300px; */
  border-radius: 10px;
  float: left;
 }
.offcanvas{
margin-top: 55px;
margin-left: 0;
background-color: rgb(36, 59, 85);
width: 100% !important;
}  

    .nav-link {
        text-align: center;
        border-radius: 30px;
        margin-top: 5%;
        padding: 1%;
    }
}
