
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  body {
    min-height: 100%;
  }
  hr{
    color: white;
  }
  .offcanvas{
    margin-top: 55px;
    margin-left: 0;
    background-color: #243b55;
    width: 25% !important;
  }
  .nav-link{
    text-align: center ;
      border-radius: 30px;
      margin-top: 5%;
      padding: 2%;
    }
    .nav-link:hover{
        background-color: rgb(0, 0, 0, 0.88);
        color: rgb(255, 255, 255);
    }
    .title{
        color: rgb(255, 255, 255);
    }
    h1{
      border-radius: 30px;
      padding-top: 1%;
    }
    ul{
      width: 100%;
      padding: 0;
     list-style: none;
     position: relative;
     display: inline-block;
     margin: 0;
    }
    #contents{
        margin: 5%;
        margin-bottom: 0;
    }
    #contents li{
     background-color: rgb(36, 59, 85);
     position: relative;
     margin: 1%;
     margin-left: 0;
     padding: 2%;
     border-radius: 10px;
     float: left;
    }
    #contents li:hover{
        background-color:rgb(0, 0, 0);
    }
    #contents a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: larger;
    }
    table{
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
        width: 450px;
    }

    th,td{
        font-size: larger;
        padding-left: 5%;

    }
    td{
      width: 200px;
      padding-left: 15%;
    }
    .button{
      text-align: center ;
      border-radius: 30px;
      margin-top: 1%;
      padding: 1%;
     display: block;
     background-color: rgb(0, 0, 0, 0.88);
      color: rgb(255, 255, 255);
    }
    @media(max-width: 600px){
        #contents{
        margin: 5%;
        margin-top: 15%;
    }
    #contents li{

      position: relative;

      margin: 1%;
      margin-left: 0;
      padding: 2%;
      /* width: 300px; */
      border-radius: 10px;
      float: left;
     }
    .offcanvas{
    margin-top: 55px;
    margin-left: 0;
    background-color: rgb(36, 59, 85);
    width: 100% !important;
  }
  .nav-link{
    text-align: center ;
      border-radius: 30px;
      margin-top: 5%;
      padding: 1%;
    }
    }
